* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  margin-right: 25px;
}

.contenido {
  width: 90%;
  margin: 0 auto;
}
.nav-contenido {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}

.link {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.link:hover {
  color: coral;
  cursor: pointer;
}
.principal {
  width: 100%;
  margin-top: 30px;
  display: flex;
}
.centro {
  display: flex;
  width: 70%;
}
.centro-img img {
  max-width: 97%;
}

.centro-texto {
  display: flex;
  margin-top: 15px;
}

.contenedor-centro-texto-titulo {
  margin-right: 50px;
}

.contenedor-centro-texto-parrafo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.centro-texto-titulo {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
}

.centro-texto-parrafo {
  width: 90%;
  font-size: 15px;
}

.boton {
  width: 115px;
  padding: 5px;
  border: none;
  background-color: coral;
  color: aliceblue;
  font-weight: 700;
  text-transform: uppercase;
}

.boton:hover {
  background-color: blue;
}

.izquierda {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: darkblue;
  justify-content: space-evenly;
  padding: 0 20px;
}
.izquierda h2 {
  color: white;
}
.izquierda strong {
  color: white;
  display: block;
}

.izquierda hr {
  color: white;
}

.izquierda p {
  color: rgb(190, 190, 185);
}
.izquierda p strong:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

.final {
  margin-top: 20px;
}

.final-lista {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.final-lista-item {
  display: flex;
  height: 120px;
  justify-content: space-between;
}

.final-lista-item div {
  margin-left: 20px;
}

.final-lista-item span {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  color: rgb(190, 190, 185);
}

.final-lista-item strong {
  font-weight: 700;
  color: #000000;
}

.final-lista-item strong:hover {
  color: coral;
  cursor: pointer;
}

.final-lista-item p {
  color: rgb(77, 77, 72);
}

.final-lista-item div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.attribution {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .final-lista {
    display: flex;
    flex-direction: column;
  }
  .final-lista-item{
    margin: 15px 0;
  }
}

@media (max-width: 500px) {
  body {
    padding-top: 20px;
  }
  .header {
    height: 60px;
  }
  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-color: #f5f3f3;
    position: fixed;
    left: 0;
    top: 90px;
    width: 50%;
    align-items: center;
    padding: 10px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }
  .nav-item {
    line-height: 70px;
  }
  .principal{
    display: flex;
    flex-direction: column;
  }

  .centro-texto{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    width: 432px;
  }
  .centro-texto-parrafo{
    margin: 10px 0;
  }

  .izquierda{
    display: flex;
    width: 100%;
    height: 340px;
  }

  .izquierda p{
    margin: 10px 0;
  }

  .nav-toggle {
    display: block;
  }
  .nav-menu_visible{
    left: 247px;
  }

  .final-lista-item{
    margin: 15px 0;
  }
}
